<!-- Our Advantage  -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="heading wow fadeIn text-center pb-5">
          <h2>Why Choose Jioexchange</h2>
          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a tellus. Phasellus viverra nulla ut metus varius laoreet. Aenean imperdiet etiam ultricies nisi vel augue.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
        <div class="card text-center border-0 advantage">
          <div class="card-body p-5">
            <img src="dist/images/secure.png" alt="" class="img-fluid" />
            <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Safe & Secure</a></h5>
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
        <div class="card text-center border-0 advantage">
          <div class="card-body p-5">
            <img src="dist/images/exchange.png" alt="" class="img-fluid" />
            <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Instant Exchange</a></h5>
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
        <div class="card text-center border-0 advantage">
          <div class="card-body p-5">
            <img src="dist/images/wallet.png" alt="" class="img-fluid" />
            <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Coin Wallet</a></h5>
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15 mb-md-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s">
        <div class="card text-center border-0 advantage">
          <div class="card-body p-5">
            <img src="dist/images/recuring.png" alt="" class="img-fluid" />
            <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Recuring Buys</a></h5>
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeIn mb-15 mb-md-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
        <div class="card text-center border-0 advantage">
          <div class="card-body p-5">
            <img src="dist/images/m-app.png" alt="" class="img-fluid" />
            <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Mobile Apps</a></h5>
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
        <div class="card text-center border-0 advantage">
          <div class="card-body p-5">
            <img src="dist/images/support.png" alt="" class="img-fluid" />
            <h5 class="jio-font-weight-500 mb-0 py-3"><a href="javascript:;" class="text-dark">Experts Support</a></h5>
            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Our Advantage  -->

<!-- Counter  -->
<section class="py-5">
  <div class="background-image-maker gradient gradient-full-white"></div>
  <div class="holder-image">
    <img src="dist/images/bg4.jpg" alt="" class="img-fluid d-none">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
        <div class="counter text-center">
          <img src="dist/images/atm.png" alt="" class="img-fluid mb-3" />
          <h1 class="counter_number jio-font-weight-500 mb-0">450</h1>
          <span class="lead Montserrat text-dark">Bitcoin ATM's</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
        <div class="counter text-center">
          <img src="dist/images/country.png" alt="" class="img-fluid mb-3" />
          <h1 class="counter_number jio-font-weight-500 mb-0">170</h1>
          <span class="lead Montserrat text-dark">Countries Support</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-sm-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s">
        <div class="counter text-center">
          <img src="dist/images/producer.png" alt="" class="img-fluid mb-3" />
          <h1 class="counter_number jio-font-weight-500 mb-0">210</h1>
          <span class="lead Montserrat text-dark">Producers</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
        <div class="counter text-center">
          <img src="dist/images/operator.png" alt="" class="img-fluid mb-3" />
          <h1 class="counter_number jio-font-weight-500 mb-0">328</h1>
          <span class="lead Montserrat text-dark">Operators</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counter  -->