<h1>About</h1>

<p>I love working with APIs to build cool apps. Version 1 of the Coin Market Cap API is very easy to use so I decided to build
a web app using Rails that crypto investors such as myself would enjoy using. Nearly every crypto investor wants to know
how much money they've made from their investments, so I've created an app that where investors can create an account and
log their transaction and compare the numbers against real time data.</p>

<p>This is a Rails app, but I've also used front end technologies to to bring this app to life</p>