<!-- News  -->
<section class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="heading wow fadeIn text-center pb-5">
          <h2>Latest News</h2>
          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a tellus. Phasellus viverra nulla ut metus varius laoreet. Aenean imperdiet etiam ultricies nisi vel augue.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
        <div class="blog">
          <img src="dist/images/img1.jpg" alt="" class="img-fluid rounded" />
          <div class="date bg-primary rounded text-white px-4 d-inline-block py-1 mb-4">
            <h1 class="font-weight-bold mb-0 display-4 text-white">24</h1>
            <span class="text-uppercase jio-font-weight-500 Montserrat">Feb 2018</span>
          </div>
          <h5 class="jio-font-weight-500 mb-2">Everyone Is Excited</h5>
          <p class="mb-1">What everyone is saying about gossip magazines. How twitter can teach you about wedding gifts What the beatles could learn </p>
          <a href="single-blog.html" class="text-primary font-weight-bold">Read More <i class="icofont icofont-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
        <div class="blog">
          <img src="dist/images/img2.jpg" alt="" class="img-fluid rounded" />
          <div class="date bg-primary rounded text-white px-4 d-inline-block py-1 mb-4">
            <h1 class="font-weight-bold mb-0 display-4 text-white">16</h1>
            <span class="text-uppercase jio-font-weight-500 Montserrat">Feb 2018</span>
          </div>
          <h5 class="jio-font-weight-500 mb-2">Create your wallet</h5>
          <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          <a href="single-blog.html" class="text-primary font-weight-bold">Read More <i class="icofont icofont-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-12 col-lg-4 wow fadeIn mb-5 mb-md-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
        <div class="blog">
          <img src="dist/images/img3.jpg" alt="" class="img-fluid rounded" />
          <div class="date bg-primary rounded text-white px-4 d-inline-block py-1 mb-4">
            <h1 class="font-weight-bold mb-0 display-4 text-white">09</h1>
            <span class="text-uppercase jio-font-weight-500 Montserrat">Feb 2018</span>
          </div>
          <h5 class="jio-font-weight-500 mb-2">How to Create Cards</h5>
          <p class="mb-1">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Etiam ultricies nisi vel augue.</p>
          <a href="single-blog.html" class="text-primary font-weight-bold">Read More <i class="icofont icofont-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End News  -->