<section class="bg-secondary pb-0">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
          <div class="footer-logo">
            <a href="javascript:;"><img src="dist/images/footer-logo.png" alt="" class="img-fluid" /></a>
          </div>
          <p class="my-4">Check out some of my other work.</p>
          <ul class="list-inline my-auto footer-social">
            <li class="list-inline-item mr-2"><a href="javascript:;"><i class="icofont icofont-social-twitter"></i></a></li>
            <li class="list-inline-item mr-2"><a href="javascript:;"><i class="icofont icofont-social-facebook"></i></a></li>
            <li class="list-inline-item mr-2"><a href="javascript:;"><i class="icofont icofont-brand-linkedin"></i></a></li>
            <li class="list-inline-item mr-2"><a href="javascript:;"><i class="icofont icofont-social-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:;"><i class="icofont icofont-social-skype"></i></a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-lg-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.4s" >
          <h6 class="text-uppercase text-white">Pages</h6>
          <ul class="list-unstyled my-auto jio-line-height-3 footer-link">
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> Home</a></li>
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> Cypto Listing</a></li>
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> Wallet</a></li>
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> News</a></li>
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> About</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn mb-5 mb-sm-0" data-animate="fadeIn" data-duration="1.0s" data-delay="0.6s" >
          <h6 class="text-uppercase text-white">Find Me on Social Media</h6>
          <ul class="list-unstyled my-auto jio-line-height-3 footer-link">
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> Github</a></li>
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> LinkedIn</a></li>
            <li><a href="javascript:;"><i class="icofont icofont-simple-right pr-1"></i> Twitter</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.8s" >
          <h6 class="text-uppercase text-white">Contact Me</h6>
          <div class="media address mb-3">
            <div class="d-flex mr-3 align-self-center"><i class="icofont icofont-location-pin text-white"></i></div>
            <div class="media-body">
                                    <span>
                                        <small class="text-white jio-font-weight-500 d-block">Address</small>
                                        Arlington, TX
                                      </span>
            </div>
          </div>
          <div class="media address mb-3">
            <div class="d-flex mr-3 align-self-center"><i class="icofont icofont-envelope-open text-white"></i></div>
            <div class="media-body">
                                    <span>
                                        <small class="text-white jio-font-weight-500 d-block">Email</small>
                                        jay.m.howard@gmail.com
                                    </span>
            </div>
          </div>
          <div class="media address">
            <div class="d-flex mr-3 align-self-center"><i class="icofont icofont-headphone-alt text-white"></i></div>
            <div class="media-body">
                                    <span>
                                        <small class="text-white jio-font-weight-500 d-block">Phone</small>
                                        682-220-2537
                                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <div class="footr-bottom bg-dark py-3 mt-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 text-center wow fadeIn" data-animate="fadeIn" data-duration="1.0s" data-delay="0.2s" >
          <span>Copyright &copy; 2018 <a href="javascript:;" class="text-white">Monica Howard</a> . All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Footer  -->

<!-- Top To Bottom-->
<div class="scrollup text-center">
  <a href="#" class="text-white"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- End Top To Bottom-->